<div *ngFor="let product of products" class="product-list">
    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title>
                <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]"> {{ product.name }} </a>
            </mat-card-title>
            <mat-card-subtitle>
                <p>{{product.price}}$</p>
            </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <p *ngIf="product.description; else noProductDesc"> Description: {{ product.description }} </p>
            <ng-template #noProductDesc><i>No description...</i></ng-template>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="share()">Share</button>
            <app-product-alerts (priceNotification)="onPriceNotification($event)" [product]="product">
            </app-product-alerts>
        </mat-card-actions>
    </mat-card>
</div>