<div class="container">
  <div>
    <div>
      <button (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <div *ngIf="onlyOdd">
        <p>Method 1: Display using structural directives</p>
        <ul>
          <li *ngFor="let odd of oddNumbers" [ngClass]="{odd: odd % 2 !== 0}" [ngStyle]="oddClassStyles"> {{odd}} </li>
        </ul>
      </div>
      <ng-template [ngIf]="onlyOdd">
        <p>Method 2: Display using the way structural directives work under the hood</p>
        <ul>
          <li *ngFor="let odd of oddNumbers" [ngClass]="{odd: odd % 2 !== 0}" [ngStyle]="oddClassStyles"> {{odd}} </li>
        </ul>
      </ng-template>

      <div *ngIf="!onlyOdd">
        <p>Method 1: Display using structural directives</p>
        <ul>
          <li *ngFor="let even of evenNumbers" [ngClass]="{even: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 === 0 ? 'yellow' : 'transparent'}"> {{even}} </li>
        </ul>
      </div>
      <ng-template [ngIf]="!onlyOdd">
        <p>Method 2: Display using the way structural directives work under the hood</p>
        <ul>
          <li *ngFor="let even of evenNumbers" [ngClass]="{even: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 === 0 ? 'yellow' : 'transparent'}"> {{even}} </li>
        </ul>
      </ng-template>
      <div *appUnless="!onlyOdd">
        <p>Method 3: Display using my custom structural directive</p>
        <ul>
          <li *ngFor="let even of evenNumbers" [ngClass]="{even: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 === 0 ? 'yellow' : 'transparent'}"> {{even}} </li>
        </ul>
      </div>

      <p appHighlight>Paragraph styled with custom directive by accessing the dom</p>
      <p appBetterHighlight [defaultColor]="'purple'" [highlightColor]="'red'">Paragraph styled with custom directive by
        using the renderer</p>
    </div>
  </div>
</div>